@font-face {
	font-family: montserrat;
	src: url("../FONTS/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "openSansCondensed";
	src: url("../FONTS/open-sans-condensed/OpenSans-CondLight.ttf");
}